
# only use for unicode text
alias copy="xsel --clipboard <"
alias paste="xsel --clipboard >"


# terraform
alias tf='terraform'
alias tg='terragrunt'
alias tgf='terragrunt hclfmt'
alias tfa='terraform apply'
alias tfd='terraform destroy'
alias tfp='terraform plan'
alias tfi='terraform init'
alias tfaa='tfa -auto-approve'
alias tfda='tfd -auto-approve'
alias rebirth="tfd -auto-approve && tfa --auto-approve"

alias aws_env='env | sort | grep AWS'
alias da="direnv allow"
alias de="direnv edit"
alias pcr="pre-commit run"
alias pcra="pre-commit run --all-files"

alias asl_session="aws sso login --sso-session my-sso"
alias asl="aws sso login"
alias assh="aws ssm star    t-session --target"


alias senv="env | sort"


# wsl issues with vpn
alias network_init="wsl.exe -d wsl-vpnkit --cd /app service wsl-vpnkit start &>/dev/null"

alias vault_login="vault login -method oidc role=data-platform"

#git
alias pull_and_merge='git checkout main && git pull && git checkout - && git merge main'
